table{
  width:100%;
  text-align: center;
}
h1, p {
  font-family: Lato;
}
button{
  padding: 10px;
  border-radius: 10px;
  border-color: green;
  background-color: lightgreen
}
span{
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.Row_all:hover .dropdown-content {display: block;}